<div align="center">
    <span style="font-size:30px">
        <strong>
            <!-- Python Symbol -->
            <img
                src="https://cdn3.emoji.gg/emojis/1887_python.png"
                style="margin-bottom:-5px"
                width="30px" 
                height="30px"
            >
            <!-- TÃ­tulo -->
            Python for Geologists
            <!-- VersiÃ³n -->
            <img 
                src="https://img.shields.io/github/release/kevinalexandr19/python_for_geologists.svg?style=flat&label=&color=blue"
                style="margin-bottom:-2px" 
                width="40px"
            >
        </strong>
    </span>
    <br>
    <span>
        <!-- Github del proyecto -->
        <a href="https://github.com/kevinalexandr19/python_for_geologists" target="_blank">
            <img src="https://img.shields.io/github/stars/kevinalexandr19/python_for_geologists.svg?style=social&label=Github Repo">
        </a>
        &nbsp;&nbsp;
        <!-- Licencia -->
        <img src="https://img.shields.io/github/license/kevinalexandr19/python_for_geologists.svg?color=forestgreen">
        &nbsp;&nbsp;
        <!-- Release date -->
        <img src="https://img.shields.io/github/release-date/kevinalexandr19/python_for_geologists?color=gold">
    </span>
    <br>
    <span>
        <!-- Perfil de LinkedIn -->
        <a target="_blank" href="https://www.linkedin.com/in/kevin-alexander-gomez/">
            <img src="https://img.shields.io/badge/-Kevin Alexander Gomez-0072B1">
        </a>
        &nbsp;&nbsp;
        <!-- Perfil de Github -->
        <a target="_blank" href="https://github.com/kevinalexandr19">
            <img src="https://img.shields.io/github/followers/kevinalexandr19.svg?style=social&label=kevinalexandr19&maxAge=2592000">
        </a>
    </span>
    <br>
</div>

***

## <span style="color:lightgreen">Welcome to the Python for Geologists project !!! </span> ðŸŒŽðŸ“š

This academic project was created to <span style="color:lightgreen">make learning Python accessible</span> for students and professionals in Geology and related disciplines.

Beyond teaching Python, this resource aims to foster <span style="color:lightgreen">algorithmic thinking</span> as a practical tool for solving real geological problems.

This version of the repository is built on [JupyterLite](https://jupyterlite.readthedocs.io/en/stable/), enabling Python code to run directly in the browser with no prior installation, making the learning experience seamless for geoscience students.

<span style="color:gold; font-size:20px">**Pandas**</span>

***
- [What is Pandas?](#part-1)
- [Series](#part-2)
- [DataFrame](#part-3)
- [Data manipulation](#part-4)

***

<a id="part-1"></a>

### <span style="color:lightgreen">**What is Pandas?**</span>
***

Pandas (short for `Panel Data`) is a fast, flexible, and powerful tool for data analysis and manipulation, developed in Python. <br>
With Pandas, we can represent tabular information (spreadsheets or databases) through the objects `Series` and `DataFrame`.


***
<span style="color:gold"> **What are the advantages of using Pandas?** </span>
- We can efficiently explore, clean, and process our data.
- It allows integration of various file formats or data sources such as `csv`, `excel`, `sql`, `json`, etc.
- It contains selection and filtering functions for specific rows and columns.
- There is no need to use loops to process each row of a table; data manipulation in a column is performed element-wise.
- Basic statistical calculations (mean, median, variance, etc.) can be performed easily.
- It allows grouping and ungrouping of data by categories quickly.
- It supports concatenation of multiple tables by column or by row.
- It contains tools for time series analysis.
- It contains tools for cleaning and extracting textual data.

In this tutorial, we will review the `Series` and `DataFrame` objects using a practical example.

***
<span style="color:gold">**Chemical analysis of samples**</span>

Using the following tabular information, you are asked to transcribe the data and store it in CSV and Excel format files.

| Sample  |Gold (ppm) |Silver (ppm) |Copper (%) |Zinc (%) |Lead (%) |
|:-------:|:---------:|:-----------:|:---------:|:-------:|:-------:|
|A        |5.0        |51.2         |3.2        |4.0      |3.4      |
|B        |6.1        |62.7         |4.5        |6.1      |5.5      |
|C        |4.2        |54.8         |2.1        |3.5      |3.1      |
|D        |2.4        |47.1         |4.8        |6.4      |5.8      |
|E        |8.3        |40.3         |5.4        |8.9      |6.7      |

We will start by importing `pandas` and using `pd` as a shorthand reference for this library:

In [ ]:
import pandas as pd

<a id="part-2"></a>

### <span style="color:lightgreen">**Series**</span>
***

We will begin by creating an object called `Series`, which is similar to a Numpy `array`, but also includes an **index**. <br>
In this case, we will create it from a list that contains the values of the `gold` column:

In [ ]:
gold = pd.Series([5.0, 6.1, 4.2, 2.4, 8.3], index=["A", "B", "C", "D", "E"])

In [ ]:
gold

Objects of type `Series` represent units of rows and columns.

We can also create a series from a dictionary. In this case, we will use the `silver` column:

In [ ]:
silver = pd.Series({"A": 51.2, "B": 62.7, "C": 54.8, "D": 47.1, "E": 40.3})

In [ ]:
silver

We can obtain the index through the `index` attribute:

In [ ]:
silver.index

And the values through the `values` attribute:

In [ ]:
silver.values

Now, we will create a new series for the `copper` column:

In [ ]:
copper = pd.Series({"A": 3.2, "B": 4.5, "C": 2.1, "D": 4.8, "E": 5.4})
copper

It is possible to create a copy of the series using the `copy` method:

In [ ]:
copy = copper.copy()
copy

We can modify values in the copy without altering the original series:

> The `iloc` method allows you to select an element in the array based on its position number.

In [ ]:
# Replace the first element of the series with 0
copy.iloc[0] = 0
copy

In [ ]:
# Create a new row "F" with a value of 10
copy["F"] = 10
copy

Now, letâ€™s compare the original series and the copy:

In [ ]:
# Show results
print("Original Series")
print(copper)
print("")
print("Copy")
print(copy)

Now letâ€™s create the columns for `zinc` and `lead`:

In [ ]:
#  Create a list to serve as the index for the columns
index = ["A", "B", "C", "D", "E"]

# Create columns for Zn and Pb
zinc = pd.Series(dict(zip(index, [4.0, 6.1, 3.5, 6.4, 8.9])))
lead = pd.Series(dict(zip(index, [3.4, 5.5, 3.1, 5.8, 6.7])))

In [ ]:
# Display the zinc column
zinc

In [ ]:
# # Display the lead column
lead

We can perform slicing within a series:

In [ ]:
# Second and third rows of the zinc column
zinc[1:3]

In [ ]:
# From the third to the fifth rows of the lead column
lead["C":"E"]

We can use the `loc` method to locate an element in a series using the name assigned in its index:

In [ ]:
# The second row of the zinc column is named "B"
zinc.loc["B"]

Or we can also use `iloc` to locate the element according to its position in the series:

In [ ]:
# The second row of the zinc column has position 1
zinc.iloc[1]

***

<a id="part-3"></a>

### <span style="color:lightgreen">**DataFrame**</span>
***

A `DataFrame` groups `Series` objects to generate a table of rows and columns. <br>
Each row and column of the DataFrame can have a specific name.

We will use the `gold`, `silver`, `copper`, `zinc`, and `lead` columns that we created earlier to generate the DataFrame:

In [ ]:
data = pd.DataFrame({"gold": gold, "silver": silver, "copper": copper, "zinc": zinc, "lead": lead})
data

We can use the `head` method to view only the first rows of a table:

In [ ]:
data.head(2)

We can also use the `tail` method to view only the last rows of a table:

In [ ]:
data.tail(3)

To obtain general information about the DataFrame, we use the `info` method:

In [ ]:
data.info()

If we want to create a copy of the DataFrame, we can use the `copy` method:

In [ ]:
copy = data.copy()
copy

To select a specific column, we use the same key-selection syntax as in dictionaries:

In [ ]:
# Select the gold column
data["gold"]

If we use logical expressions, we obtain an array with boolean values (`True` or `False`):

In [ ]:
# Gold values greater than 5.0
data["gold"] > 5.0

We can use this array to filter the data according to a condition:

In [ ]:
# Filter gold values greater than 5.0
data[data["gold"] > 5.0]

In [ ]:
# Zinc and lead values less than 5
data[(data["zinc"] < 5) & (data["lead"] < 5)]

If we use the `query` method, we can filter values in a more natural way:

In [ ]:
# Query rows with Zn and Pb less than 5
data.query("(zinc < 5) and (lead < 5)")

***

<a id="part-4"></a>

### <span style="color:lightgreen">**Data manipulation**</span>
***

<span style="color:gold">**Indexes and columns**</span>

To rename indexes and columns, we can use the `rename` method:

In [ ]:
data.rename(columns={"gold": "Au"}, index={"A": "M1"})

We can remove the indexes using the `reset_index` method:

In [ ]:
data.reset_index()

We can remove the indexes using the `reset_index` method:

In [ ]:
data.reset_index(drop=True)

If we want to make the change permanent, we can use the parameter `inplace=True`:

> The `rename` method and others also allow the use of the `inplace=True` parameter.

In [ ]:
data

In [ ]:
data.reset_index(drop=True, inplace=True)
data

We can add a new index using the `index` attribute:

In [ ]:
data.index

In [ ]:
data.index = ["A", "B", "C", "D", "E"]
data

We can also assign a name to the index:

In [ ]:
data.index.name = "Samples"
data

We can extract the column names with the `columns` attribute:

In [ ]:
data.columns

And we can check the data type of each column with the `dtypes` attribute:

In [ ]:
data.dtypes

To sort values according to a column, we can use the `sort_values` method and the parameter `ascending=False` to order them from highest to lowest:

In [ ]:
data.sort_values(by=["gold"], ascending=False)

***
<span style="color:gold">**Row and column selection**</span>

We can select columns by using the column name:

In [ ]:
data["gold"]

We can also select multiple columns using a list of column names:

In [ ]:
data[["gold", "zinc", "copper"]]

We can select specific elements using `loc`. Rows and columns are specified using separate lists:

In [ ]:
data.loc[["A", "C"], ["silver", "lead"]]

We can also use ranges:

In [ ]:
data.loc["A": "D", :]

With `iloc` the process is similar, but instead of using names we use the position order:

In [ ]:
data.iloc[[0, 2], [1, 4]]

In [ ]:
data.iloc[0:4, :]

***
<span style="color:gold">**Row and column modification**</span>

We can remove rows and columns using the `drop` method (to make the change permanent, add the parameter `inplace=True`):

In [ ]:
data.drop(columns=["gold", "silver"], index=["A", "B"])

We can also add new columns, for example, the sum of concentrations of `copper`, `zinc`, and `lead`:

In [ ]:
data["copper + zinc + lead"] = data["copper"] + data["zinc"] + data["lead"]
data

If we want to sort the values in a column, we can use the `sort_values` method:

In [ ]:
data.sort_values(by=["copper + zinc + lead"])

***
<span style="color:gold">**Missing values in Pandas**</span>

We will create a column of empty data called `Null`:

In [ ]:
import numpy as np

In [ ]:
data["Null"] = np.nan
data

To locate `nan` values in the table, we can use the `isna` method:

In [ ]:
data.isna()

To determine how many `nan` values exist in each column, we use the following method:

In [ ]:
data.isna().sum()

If you want to see this as a percentage of missing values, divide by the total number of rows in the table:

In [ ]:
data.isna().sum() / len(data)

If we want to replace `nan` values, we can use the `fillna` method:

In [ ]:
data.fillna("Empty")

Finally, if we want to remove `nan` values, we can use the `dropna` method. <br>
The `axis` parameter removes all rows (0) or columns (1) that contain `nan` values.

In [ ]:
data

In [ ]:
data.dropna(axis=1)

If we want to make the change permanent, we add the parameter `inplace=True`:

In [ ]:
data.dropna(axis=1, inplace=True)
data

***
<span style="color:gold">**Saving and loading files in Pandas**</span>

To save the information in `csv`, we use the `to_csv` method:

> The file path will be the `files/` folder joined with the file name `chemical_analysis.csv`.

In [ ]:
data

In [ ]:
data.to_csv("files/chemical_analysis.csv")

We can load the `csv` again using the `read_csv` function:

In [ ]:
csv = pd.read_csv("files/chemical_analysis.csv")
csv

To set a column as an index, we can use the `set_index` method:

In [ ]:
csv = csv.set_index("Samples")
csv

To save the information in `Excel`, we use the `to_excel` method:

``` python
# This method is not available in Jupyterlite
data.to_excel("files/chemical_analysis.xlsx")
```

And we load the created `Excel` file using the `read_excel` function:

``` python
# This method is not available in Jupyterlite
data.read_excel("files/chemical_analysis.xlsx")
```

***
<span style="color:gold">**Random row selection**</span>

In the following example, we will use the file `rocks.csv`:

In [ ]:
data = pd.read_csv("files/rocks.csv")

In [ ]:
data.head()

To obtain a statistical summary of the numeric columns in the table, we can use the `describe` method:

> The parameter `include="all"` includes categorical columns.<br>
> We will invert the arrangement of rows and columns using the transpose `T`.

In [ ]:
data.describe(include="all").T

To view the set of unique values in a column, we can use the `unique` method:

In [ ]:
data["Name"].unique()

To obtain random samples from a table, we can use the `sample` method:

In [ ]:
data.sample(5)

We can sort the indexes of a table using the `sort_index` method.  

> We can use different Pandas methods in a single line by adding a dot `.` to chain them.

In [ ]:
data.sample(5).sort_index()

To reverse the order, we can add the parameter `ascending=False`:

In [ ]:
data.sample(5).sort_index(ascending=False)

***
<span style="color:gold">**Creating new columns**</span>

We will create a new column to name the samples using the `apply` method. <br>
For this, we need a function called `sample` that generates a name for each sample:

In [ ]:
def sample(row):
    name = "S-" + str(row.name)
    return name

In [ ]:
data.apply(sample, axis=1)

Now, we will add this data column to the table:

In [ ]:
data["Sample"] = data.apply(sample, axis=1)

In [ ]:
data.sample(5)

We now have a column with unique values that identifies each sample.

We can also classify values in a table using the `cut` function.<br>
For example, we will classify the rows according to the values of `SiO2`:

In [ ]:
# Split the table into two parts based on the values of SiO2
pd.cut(data["SiO2"], bins=2)

To assign names to each category, we add the `labels` parameter:

In [ ]:
# Split and classify the table into two parts based on the values of SiO2
pd.cut(data["SiO2"], bins=2, labels=["Mafic", "Felsic"])

***
<span style="color:gold">**Table concatenation**</span>

We will split the table into two:
- The first table will contain the values of `Sample` and `SiO2`.
- The second table will contain the values of `Sample` and `Al2O3`.

In [ ]:
table_1 = data[["Sample", "SiO2"]].copy()
table_2 = data[["Sample", "Al2O3"]].copy()

In [ ]:
table_1.sample(5)

In [ ]:
table_2.sample(5)

We can merge both tables using the `merge` function. The `on` parameter corresponds to the column under which the two tables will be joined.

In this case, we will choose the `Sample` column since it contains unique values that identify each sample:

In [ ]:
# Merge two tables using the "Sample" column
pd.merge(table_1, table_2, on="Sample")

Another option is to use the parameters `how`, `left_on`, and `right_on`.

> The `how` parameter can be `inner` to join common elements or `outer` to join all elements from both tables. <br>
> The `left_on` and `right_on` parameters correspond to the columns in the first and second tables that will be used for concatenation.

In [ ]:
# Merge two tables with common rows, using "Sample" as the left and right column
pd.merge(table_1, table_2, how="inner", left_on="Sample", right_on="Sample")

***
<span style="color:gold">**Data grouping**</span>

To group data according to one or more columns, we can use the `groupby` method. <br>
Using this function allows us to perform operations on each group of data independently.

In [ ]:
data = pd.read_csv("files/rocks.csv")
data.sample(6)

In [ ]:
# Count elements per group
data.groupby("Name").count()

In [ ]:
# Mean per group
data.groupby(["Name"]).mean()

In [ ]:
# Mean of SiO2 per group
data.groupby(["Name"])["SiO2"].mean()

In [ ]:
# Median per group
data.groupby(["Name"]).median()

In [ ]:
# Coefficient of variation per group
data.groupby("Name").std() / data.groupby("Name").mean()

Finally, if we want to execute one or more functions on specific columns we can use the `agg` method:

In [ ]:
data.groupby("Name").agg({"SiO2": ["max", "min"], 
                          "Al2O3": ["max", "min"], 
                          "FeOT": ["mean"]})

***
<span style="color:gold">**Pivot table to summarize data**</span>

To create multidimensional summaries of a dataset, we can use the `pivot_table` function. <br>
This tool allows us to reorganize and group data by selecting columns to use as indexes (rows), columns, and values.

> This function is especially useful for data analysis that requires a statistical summary, allowing us to observe complex relationships within the data.

In [ ]:
rocas.sample(6)

In [ ]:
pivot_table = pd.pivot_table(data=data,
                             values=data.columns[1:],   # Columns to calculate the average
                             index="Name",              # Column to group the data (rows)
                             aggfunc=["mean"])          # Aggregation function: mean of concentrations

In [ ]:
# Show the result
pivot_table

***